*{
	margin: 0 auto;
	list-style: none;
}

.clear{
	clear: both;
}

div#main,html{
	    background: url(img/fon.png) repeat;
}
hr.clear{
	height: 2px;
	background: #e7e7e7;
    width: 1200px;
    border: none;
}


						/*TOP LINE*/

.top_line {
	width: 1309px;
	background-color: #4F4F4F;
	height: 47px;
	margin-top: 19px;
	margin-left: 20px;
}

div.top_line_logo {
	float: left;
	width: 234px;
	height: 47px;
	margin-left: 55px;
	background: url(img/headerlogo.png) no-repeat 0 0;
}

.top_line_nav {
	font-size: 14px;
	font-family: Verdana;
}

.top_line_nav li {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	color: #fff;
}

.top_line_nav a {
	color: #fff;
}

.top_line_nav a:hover {
	text-decoration: none;
}

.top_line_search {
	float: right;
	margin: 11px 72px 0px 0px;
	width: 209px;
}

.top_line_search input[type=text] {
	padding: 7px 4px;
    width: 178px;
    border: none;
    border-radius: 2px 0px 0px 2px;
    font-size: 10px;
    font-style: italic;
    color: #d0c8cf;
    float: left;
    padding-right: 0;
}

.top_line_search input[type=submit] {
	float: left;
	width: 27px;
	height: 26px;
	border: none;
	border-radius: 0px 2px 2px 0px;
	background: #fff url(img/sprite.png) no-repeat;

}

.top_line_login {
	float: right;
    margin: 11px 30px 0px;
    font-size: 14px;
    background-position: 0px -54px;

}

.top_line_login ul li {
	float: left;
	margin-left: 20px;
	padding-left: 20px;
	font-size: 15px;
    padding: 5px 0px 5px 30px;
}

.log_li {
	background: url(img/sprite.png) repeat-x;
	background-position: 0 -55px;
}

.log_reg{
	background: url(img/sprite.png) repeat-x;
	background-position: 0 -108px;
}


.top_line_login a {
	color: 	#e52325;
    text-decoration: none;
}

.top_line_login a:hover {
	text-decoration: underline;
}
						/*END TOP LINE*/

						/*BEGGIN MAIN_MENU LINE*/

.main_menu {
	width: 1200px;
	height: 40px;
	font-size: 18px;
	font-family: Verdana;
	background-color: #fff;
	margin-top: 5px;
}
.main_menu ul{
	float: left;
	width: 600px;
	padding-left: 0;
}

.main_menu_first_li {
	border-bottom: 5px solid #c4161c;
	/*width: 64px;*/
}

.main_menu ul li a:active, .main_menu ul li:hover {
	color: #c4161c;
    border-bottom: 5px solid #c4161c
}

.main_menu ul li {
	border-left: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    float: left;
    background: #fff;
    margin-left: -2px;
    padding: 10px 15px 0px;
    height: 30px;
    transition: background 0.7s;
}

.main_menu ul li a {
	color: #000;
	text-decoration: none;
	font-size: 100%;
}
.main_menu ul li a:hover{
	color: #c4161c;
}

.main_menu_first_li{

}

.first_a {
	background: url(img/home.png) 0px 0px no-repeat;
	display: block;
	width: 30px;
	height: 30px;
}

.main_menu_button {
	background: #c4161c url(img/menu.png) 100% 0px no-repeat;
    height: 34px;
    width: 205px;
    margin-right: 47px;
    float: right;
    margin-top: 3px;
    transition: all 0.3s ease 0s;
}

.main_menu_button {
	opacity: 1;
}

.main_menu_button:hover {
	opacity: 0.75;
	background: #69c;
}

.main_menu_button a {
	float: right;
    font-size: 14px;
    color: #fff;
    text-transform: none;
    margin: 7px 0px 0px 21px;
    width: 205px;
    text-align: center;
    text-decoration: none;
}

.banner {
	background: url(img/logo2.jpg) no-repeat 0 0;
	width: 1200px;
	height: 90px;
}
					/*END MAIN_MENU LINE*/

					/*BEGGIN CONTENT LINE*/
.content {
    margin-top: 26px;
    width: 1147px;
    background-color: #fff;
    padding: 27px;
    margin-top: 0;
}
.conteiner{
	width: 1200px;
}

.leftBar{
	float: left;
	background-color: #e4e4e4;
	width: 239px;
	margin: 0px 0px 0px 5px;
}

.media {
	float: left;
	width: 910px;
}

.categories{
    font-size: 25px;
    padding: 7px;
    color: #fff;
    text-transform: none;
    text-align: center;
    width: 208px;
    background: #c4161c url(img/menu.png) 100% 0px no-repeat;
    margin-left: 0px;
    font-family: CalibriBold;
}


.all_categories {
	font-size: 24px;
    font-family: Verdana;
}

.all_categories ul {
	width: 230px;
}

.all_categories ul li:first-child {
	border-top: none;
}

.all_categories li{
	list-style-type: disc;
	color: #696969;
	border-top: 1px solid black;
	margin-left: -11px;
	width: 205px;
	font-size: 17px;
	margin-top: 5px;
}

.all_categories a{
	color: #524f4f;
	text-decoration: none;
	display: block;
}

.all_categories a:hover{
	color: #425EB7;
}

.rightBar {
	background: #e1e1e1;
	width: 235px;
	float: right;
	margin-right: 10px;
}

.all {
	height: 18px;
	float: right;
    transition: all 0.3s ease 0s;
}

.all {
	opacity: 1;
	margin-right: 10px;
	margin-bottom: 10px;
}

.all:hover {
	opacity: 0.4;
	background: #69c;
}

.all a {
	background: #c4161c url(img/menu.png) 100% 0px no-repeat;
	text-decoration: none;
	color: #fff;
	font-weight: 3px;
}

.news {
	font-size: 24px;
    font-size: 25px;
    padding: 7px;
    color: #fff;
    text-transform: none;
    text-align: center;
    width: 208px;
    background: #c4161c url(img/menu.png) 100% 0px no-repeat;
    font-family: CalibriBold Verdana;
    margin-left: 0;
}

.news a{
	color: #524f4f;
	text-decoration: none;
	display: block;
}

.carousel {
	float: left;
	margin-left: 35px;
	width: 630px;
	height: 360px;
}

.rightBar ul {
	width: 200px;
	margin-left: 0px;
	padding: 0;
}

.rightBar li{
	color: #000;
	margin-left: 15px;
	width: 205px;
	margin-top: 12px;
	font-size: 12px;
	font-family: Verdana;
}

.rightBar li a {
	color: #000;
	text-decoration: underline;
}

.index_list {
	width: 630px;
	height: 305px;
	float: left;

}

.index_avatar {
	float: left;
	width: 100px;
	height: 105px;
}

.index_avatar img {
	height: 100px;
	width: 100px;
}

.index_sport{
	display: block;
}

.index_list ul {
	margin-top: 0;
	float: left;
}

.index_list ul li {
	width: 277px;
	height: 110px;
	float: left;
	border: 3px solid #e7e3da;
    border-bottom: 3px solid #e7e3da;
    border-radius: 3px;
    margin: 5px;
}

.index_list ul li a {
	color: #000;
}

								/*END CONTENT LINE*/

.end_left {
	float: left;
	width: 350px;
	height: 216px;
	margin-right: 54px;
}

.end_middle {
	float: left;
	width: 305px;
	height: 205px;
}

.end_right {
	width: 350px;
	height: 111px;
	float: right;
}

							/*BEGGIN FOOTER LINE*/
.f_r{
    display: block;
    height: 200px;
    width: 1px;
    float: left;
    border-left: 1px solid #b3b2af;
    border-right: 1px solid #9a9a9a;
    background: #8c8c8c;
    margin: 12px 0px 0px;
}

.footer {
	background: url(img/footer.png) repeat;
    font-family: Verdana;
    margin: -10px -58px 0px;
    padding: 0px 0px 10px 0px;
    height: 293px;
    width: 1309px;
}

.footer_block1 {
	float: left;
	width: 280px;
	height: 150px;
	color: #fff;
	font-size: 18px;
}

.footer_block1 ul {
	margin-top: 55px;
	margin-left: 10;
}

.footer_block1 ul li {
	line-height: 1.1em;
	margin: 0px 0px 8px;
	width: 200px;
}

.footer ul li a {
	color: #fff;
	text-decoration: none;
}

.footer ul li a:hover {
	color: #425EB7;
	border-bottom: 2px solid #425EB7;
}
.footer_block2 {
	float: left;
	width: 200px;
	height: 143px;
}

.footer_block2 ul {
	margin-top: 55px;
	padding: 0;
}

.footer_block2 ul li {
    line-height: 2.1em;
    margin: 0px 25px 8px;
    width: 200px;
    height: 41px;
}

.footer_block2 ul li a {
	margin-left: 42px;
	text-align:center;
}

.footer_block2 ul li:nth-child(1) {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0 0;
}

.footer_block2 ul li:nth-child(2) {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0 -76px;
}

.footer_block2 ul li:nth-child(3) {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0 -149;
}

.footer_block3 {
	float: left;
	width: 320px;
	height: 142px;
}

.footer_block3 ul li {
    padding: 0px 0px 0px 35px;
    line-height: 1.1em;
    margin: 0px 0px 15px;
    font-size: 18px;
    color: #4f4f4f;
    font-family: Verdana;
}

.footer_block3 ul li:nth-child(1) {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -225px;
}

.footer_block3 ul li:nth-child(2) {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -273px;
}

.footer_block3 ul li:nth-child(3) {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -323px;
}


.footer_block3 h3 {
	margin-top: 15px;
	margin-left: 75px;
	color: #fff;
}

.footer_block3 ul {
	margin-top: 15px;
}

.footer_block4 h3 {
	margin-left: 16px;
	margin-left: 126px;
	float: left;
	color: #fff;
}

.footer_block4 a{
    display: block;
    float: left;
    margin: 20px 0px 0px;
    width: 41px;
    height: 35px;
}

.social {
	float: left;
	margin-left: 126px;
}

.copyrate{
	float: left;
    margin-top: 51px;
    margin-left: 92px;
    font-size: 13px;
    color: #323232;
}

.soc_vk {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -438px;
}
.soc_fb {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -496px;
}

.soc_yt {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -556px;
}

.soc_t {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -615px;
}

.soc_g {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -669px;
}

.soc_rss {
	background: url(img/f_sprite.png) no-repeat;
	background-position: 0px -726px;
}




.tournaments{
	float: left;
	margin-top: 25px;
	width: 890px;
}

.tournaments ul li {
	float: left;
	margin: 20px 40px 0px 40px;
}

.tournaments ul li, .tournaments ul li img, .tournaments ul li:hover div {
    width: 130px;
    height: 130px;
    font-size: 12px;
}

.tournaments ul li div p {
    left: 0px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 65%;
    width: 100%;
}

.tournaments ul li div {
    display: block;
    background: url(img/fon_menu.png) repeat;
    bottom: 0px;
    height: 50px;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    /* text-transform: uppercase; */
    z-index: 2;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.tournaments ul li a {
	display: block;
	position: relative;
	color: #515153;
}

.right_Bar {
    background: #e1e1e1;
    width: 235px;
    float: right;
    margin-right: 45px;
}


.right_Bar li a {
    color: #000;
    text-decoration: underline;
}

a.submit, a:hover.submit {
    display: inline-block;
    width: auto;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    min-width: 70px;
    text-align: center;
    padding-bottom: 0;
    height: 30px;
    line-height: 30px;
}

.submit {
    overflow: visible;
    margin: 5px 0;
    padding: 0 8px 2px;
    width: 90px;
    height: 27px;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: url(img/bg-navigation.png) 0 -30px;
    color: #fff;
    line-height: 27px;
}

.filter_tourn label {
    color: #c4161c;
    margin-left: 5px;
}

.filter_tourn {
    width: 800px;
    padding: 3px;
    border: 1px solid #000;
    font-family: Arial;
    font-size: 14px;
    margin-left: 0;
}

.filter_tourn input[type*=submit], .filter_tourn input[type*=button] {
    background: #c4161c;
    border: none;
    color: #fff;
}

.detail > span {
	margin-bottom: 12px;
    color: #039;
    text-transform: uppercase;
    font-weight: bold;
}

.detail > a {
	color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.name_column {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.name_column li {
	float: left;
	margin-left: 110px;
	font-size: 18px;
}

.name_column li:nth-child(1){
	margin-left: 0;
}

.champion_cup {
	width: 100%;
	display: inline-block;
}

.champion_cup li {
	float: left;
	margin-left: 45px;
	width: 100px;
}

.champion_cup li a {
	color: #000;
	font-size: 100%;
}

.champion_cup li:nth-child(1){
	margin-left: 0;
}

.champion_cup li:nth-child(2){
	margin-left: 34px;
	width: 177px;
}

.champion_cup li:nth-child(5){
	margin-left: 92px;
}

.champion_cup img {
	width: 100px;
	height: 100px;
}


								/*BEGGIN MEDIA*/



@media (min-width: 992px) and (max-width: 1200px){


div#main {
	width: 100%;
	max-width: 1200px;
}

.banner {
	display: none;
}

.top_line {
	width: 100%;
	max-width: 1200px;
}

.top_line_search {
	display: none;
}

.top_line_login {
	margin-top: 10px;
}

div.top_line_logo {
	margin-left: 0;
}

.content {
	width: 100%;
	max-width: 1200px;
}

.conteiner {
	width: 100%;
	max-width: 1200px;
}

.leftBar {
	width: 25%;
	float: left;
}

.leftBar ul {
	float: left;
}

.leftBar ul li {
	float: left;
	font-size: 25px;
}

.column_class {
	float: left;
	margin-top: -59px;
	display: none;
}



.footer {
	width: 100%;
	max-width: 1200px;
}

.social {
	padding: 0;
	margin-left: -252px;
}

.carousel {
	display: none;
}

.media{
	width: 50%;
}

.index_list {
	display: none;
}

.carousel >img {
	display: inherit;
}

.rightBar    {
	float: right;
}

.main_menu {
	width: 100%;
	max-width: 1200px;
}
}

@media (min-width: 768px) and (max-width: 992px) {
div#main {
	width: 100%;
	max-width: 1200px;
}

.banner {
	display: none;
}

.top_line {
	width: 100%;
	max-width: 1200px;
	height: 55px;
}

.top_line_search {
	display: none;
}

.top_line_login {
	margin-top: 0px;
    margin: 0;
    float: left;
    width: 18%;
    margin-left: -35px;
}

div.top_line_logo {
	margin-left: 0;
	width: 30%;
}

.top_line_nav {
	font-size: 13px;
    font-family: Verdana;
    width: 52%;
}

.main_menu ul {
	width: 100%;
}

.main_menu_button {
	width: 17%;
    margin: 0;
    margin-top: -42px;
    margin-right: 22px;
}

.main_menu_button a {
	width: 100%;
	margin: 0;
}

.content {
	width: 100%;
	max-width: 1200px;
}

.conteiner {
	width: 100%;
	max-width: 1200px;
}

.leftBar {
	width: 35%;
	float: left;
}

.leftBar ul {
	float: left;
	width: 100%;
	max-width: 1200px;
}

.leftBar ul li {
	float: left;
	font-size: 25px;
}



.column_class {
	float: left;
	margin-top: -59px;
	display: none;
}



.footer {
	width: 100%;
	max-width: 1200px;
}

.footer_block1{
	display: none;
}

.footer_block2{
	display: none;
}

.copyrate {
	padding: 0;
	margin: 0;
	margin-left: 30px;
}

.footer_block4{
	float: left;
	width: 50%;
}

.footer_block4 > hr {
	display: none;
}

.social {
	padding: 0;
	margin-left: 95px;
}

.carousel {
	display: none;
}

.media{
	width: 50%;
}

.index_list {
	display: none;
}

.carousel >img {
	display: inherit;
}

.rightBar    {
	float: right;
	width: 70%;
}

.rightBar  li  {
	font-size: 20px;
}

.main_menu {
	width: 100%;
	max-width: 1200px;
}
}

@media (min-width: 320px) and (max-width: 768px) {
 .top_line {
 	width: 100%;
 	max-width: 1200px;
 }

 .top_line_logo {
 	width: 35%;
 }

.top_line_nav {
	display: none;
}

.top_line_search {
	float: left;
}

.top_line_login {
	float: left;
	margin-left: -50px;
}

.top_line_login ul {
	float: left;
}

.page_fon {
	width: 100%;
	max-width: 1200px;
}

.conreiner {
	width: 100%;
}

.banner {
	display: none;
}

.main_menu {
	display: none;
}

.media {
	display: none;
}

.leftBar {
	width: 100%;
	max-width: 1200px;
}

.leftBar ul li {
	float: left;
	font-size: 25px;
}

.all_categories {
	float: left;
}

.column_class {
	display: none;
}


.footer {
	width: 100%;
	max-width: 1200px;
}

.footer_block1{
	display: none;
}

.footer_block2{
	display: none;
}

.copyrate {
	padding: 0;
	margin: 0;
	margin-left: 30px;
}

.f_r{
	display: none;
}

.footer_block3 {
	width: 100%;
	display: block;
}

.footer_block4{
	float: left;
	width: 50%;
}

.footer_block4 > hr {
	display: none;
}

.footer_block4>h3 {
	margin-left: 75px;
}

.social {
	padding: 0;
}


}