/*@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);*/

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #6B6B6B;
}
img{
    width: 100%;
}

a {
    text-decoration: none;
}
menu,ul{
    list-style: none;
}
.wraper{
    min-width: 100%;
    height: 2000px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

/*******header*********/
header{
    min-width: 100%;
    min-height: 75px;
    position: fixed;
    box-sizing: border-box;
    padding: 0 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #323232;
    z-index: 10;
}
header .header-logo {
    flex: 1 1 auto;
}
header .header-logo a{
    color: #DADADA;
    font-size: 20px;
}
header nav{
    flex: 1 1 auto;
}
header nav menu{
    display: flex;
    justify-content: flex-end;
}

header nav menu li{
   margin: 0 10px;
}

header nav menu li a{
    text-transform: uppercase;
    color: #FFF;
    transition: color 0.3s linear;
}
header nav menu li a:hover{
    color: #DA4453;
}

.active-a {
    color: #DA4453;
}

.slider {
    width: 100%;
    position: relative;
    top: 75px;
    margin-bottom: 100px;
}
.main-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    max-width: 1170px;
}

.title {
    background-color: rgba(218, 68, 83, 0.7);
    font-size: 24px;
    font-weight: bold;
    margin: 12px 20px;
    width: 25%;
}

.sub-title {
    background-color: rgba(59, 59, 59, 0.8);
    color: #ddd;
    margin: 12px 20px;
    width: 44%;
}

main {
    max-width: 1170px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.content{
    width: 67%;
    max-width: 1170px;
    margin-right: 0;
    float: left;
    overflow: hidden;
    padding:  0 15px;
    background-color: #fff;
}

.h2-link {
    color: #444;
    transition:0.3s linear;
    font-weight: bold;
    transition:0.3s linear;
}

.h2-link:hover{
    color: #DA4453;
}

.left-bar ul{
    padding-left: 0;
}

.left-bar ul li {
    display: inline-block;
    margin-right: 5px;
    padding-left: 0;
    font-size: 13px;
}

.btn {
    float: right;
    background-color: #DA4453;
    width: 80px;
    color: #fff;
    font-size: 13px;
    transition: 0.3s linear;
    text-align: center;
    padding: 11px 13px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #000;
}

.content1 img{
    width: 100%;
    transition:0.3s linear;
}

.content1 img:hover{
    opacity: 0.8;
}

.first-column {
    border:1px solid #DADADA;
    height: 268px;
    padding: 40px 50px;
    margin-bottom: 50px;
}

.second-column {
    border:1px solid #DADADA;
    height: 268px;
    padding: 40px 50px;
    margin-bottom: 50px;
}

.content2 img{
    width: 100%;
    transition:0.3s linear;
}


.content img:hover {
    opacity: 0.8;
}

.left-bar{
    width: 100%;
    color: #6B6B6B;
    font-size: 14px;
}

.right-bar{
    width: 21%;
    float: left;
    padding: 30px;
    border: 1px solid  #DADADA;
    border-radius: 4px;
    margin: 0 15px;
}

.right-bar h2 {
    text-transform: uppercase;
}

.folow-us ul{
    padding: 0;
}

.folow-us li{
    display: inline-block;
    background-color: #C1C0C0;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    transition: 0.3s linear;
}

.folow-us li i {
    padding-top: 10px;
}

.folow-us li a{
    margin: 0;
    background-color: #C1C0C0;
}

.twit:hover {
    background-color: #55ACEE;

}

.faceb:hover{
    background-color: #4265b9;
}

.youtube:hover{
    background-color: #df3333;
}

.google:hover{
    background-color: #d62408;
}

.vk:hover{
    background-color: #5B8BB4;
}

.recent-comments {
    float: left;
    padding: 0;
}

.recent-comments ul {
    padding: 0;
}

.recent-comments ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.recent-comments ul li i {
    border-bottom: 1px solid #ddd;
}

.tags li {
    list-style: none;
    display: inline-block;
    height: 30px;
    background-color: #DADADA;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right: 6px;
    transition:0.3s linear;
    padding: 6px 7px;
}

.tags li:hover {
    background-color:  #DA4453;
}

.tags a{
    font-size: 12px;
    color: #C1C0C0;
    line-height: 30px;
    margin-right: 5px;
    color: #fff;
}

footer{
    min-width: 100%;
    min-height: 75px;
    box-sizing: border-box;
    padding: 0 30px;
    clear: both;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #363636;
}
footer .c-rite {
    flex: 1 1 auto;
    justify-content: flex-end;
}
footer .c-rite p{
    color: #DADADA;
    font-size: 12px;
}
footer .c-rite p span{
    color: #999;
    font-size: 12px;
}
footer nav{
    flex: 3 1 auto;
}
footer nav menu{
    display: flex;
    justify-content: flex-start;
}

footer nav menu li{
   margin: 0 10px;
}

footer nav menu li a{
    text-transform: uppercase;
    color: #FFF;
    transition: color 0.3s linear;
}
footer nav menu li a:hover{
    color: #DA4453;
}
/*******MEDIA BEGIN*******/

@media (max-width: 750px) and (min-width: 360px){
    header .h-logo {
        text-align: center;
    }
}